<!DOCTYPE html>
<head>
	<title>Learning AngularJS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="app.js" type="text/javascript"></script>
	<script src="maincontroller.js" type="text/javascript"></script>
	<style>
		td{
		border:1px solid black;
		}
	</style>
	<script>
		function toggleview(){
			$("#t1").toggle();
			$("#t2").toggle();
		}
	</script>
</head>
<body>
	<div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
		Select your page - <select onchange="toggleview();"><option>BookMyShow</option><option>GameOfThrones</option></select>
		Enter your search text here - <input type='text' ng-model='searchText' /><br><br><br>
		<table id="t1" style="border:1px solid black;border-collapse:collapse;">
		<tbody data-ng-repeat="dat in data | filter:searchText">
			<tr><td><a href="{{dat.TrailerURL}}" target="_blank">{{dat.EventName}}</a></td><td>{{dat.ShowDate}}</td></tr>
		</tbody>
		</table>

		<table id="t2" style="display:none;border:1px solid black;border-collapse:collapse;">
		<thead>
			<tr>
				<td>Character</td>
				<td>Parents</td>
				<td>Siblings</td>
				<td>Close Friends</td>
			</tr>
		</thead>
		<tbody data-ng-repeat="char in characters | filter:searchText">
			<tr><td>{{char.name}}<br><img src="{{char.portrait}}" height="42" width="42">
				
			</td>
			<td>
			<div data-ng-repeat="parent in char.parents" style="display:inline;">
				 {{parent}},
			</div>
			</td>
			<td>
			<div data-ng-repeat="parent in char.siblings" style="display:inline;">
				 {{parent}},
			</div>
			</td>
			<td>
			<div data-ng-repeat="parent in char.closeFriends" style="display:inline;">
				 {{parent}},
			</div>
			</td>			
			</tr>
		</tbody>
		</table>
	</div>
</body>
</html>
