<!DOCTYPE html>
<head>
	<title>Learning AngularJS</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
	<script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>
	<div id='content' ng-app='MyTutorialApp' ng-controller='MainController'>
		Enter your search text here - <input type='text' ng-model='searchText' /><br>
		<table>
			<tr>
				<td>
					Movie
				</td>
				<td>
					Release Date
				</td>
			</tr>
		<div data-ng-repeat="dat in data | filter:searchText">
			<tr><td><a href=\"{{dat.TrailerURL}}\">{{dat.EventName}}</a> </td><td>{{dat.ShowDate}}</td></tr>
		</div>
		</table>
	</div>
</body>
</html>
